@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard Variable", -apple-system, "Noto Sans KR",
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  padding-top: 60px;
  min-width: 360px;
  min-height: calc(90vh - 64px);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

// 가변 폰트 크기 설정

:root {
  //background-color: #f2f2f2;
}
